<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.address.crawling.mapper.CityMapper">
    <insert id="insert" >
        insert into `city` (`code`, `name`, `path`, `province_code`) values
        <foreach collection="list" separator="," item="city">
            (#{city.code}, #{city.name}, #{city.path}, #{city.provinceCode})
        </foreach>
    </insert>

    <delete id="deleteAll">
        delete from `city`
    </delete>

    <select id="selectAll" resultType="com.address.crawling.entity.City">
        select `id`,`code`, `name`, `path`, `province_code` as provinceCode
        from `city`
        order by `id` asc
    </select>

    <delete id="deleteAllByProvinces">
        delete from `city` where `province_code` in <foreach collection="list" separator="," item="p" open="(" close=")">
            #{p.code}
        </foreach>
    </delete>
</mapper>