<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.address.crawling.mapper.ProvinceMapper">
    <insert id="insert" >
        insert into `province` (`code`, `name`, `path`) values
        <foreach collection="list" separator="," item="province">
            (#{province.code}, #{province.name}, #{province.path})
        </foreach>
    </insert>

    <select id="selectAll" resultType="com.address.crawling.entity.Province">
        select `id`, `code`, `name`, `path`
        from `province`
        order by `id` asc
    </select>

    <delete id="deleteAll">
        delete from `province`
    </delete>
</mapper>